<IfModule mod_rewrite.c>
    RewriteEngine On
    # Taken from the primary Symfony2 .htaccess file.
    RewriteCond %{REQUEST_URI}::$1 ^(/.+)/(.*)::\2$
    RewriteRule ^(.*) - [E=BASE:%1]
    RewriteRule ^(.*) %{ENV:BASE}/web [R=301]
</IfModule>
